body {
    font-family: Arial;
    padding: 20px;
}

header, footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.controls label {
    display: block;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 180px;
    margin-top: 20px;
}
